body{
    background-color: bisque;
}
.h1Row{
    background-color: rgb(255, 167, 52);
    height: 20vh;
}
.footer{
    background-color: rgb(49, 23, 0);
    height: 20vh;
}
.fst-italic{
    color: bisque;
}
.mainContainer{
    height: 55vh;
}
